@font-face {
    font-family: "p";
    src: url("assets/Hey Comic.ttf") format("truetype");
}

body {
    margin: 20px;
    background-image: url("assets/bg.svg");
    background-size: cover; 
    background-repeat: no-repeat; 
    min-height: 100vh;
    font-family: "p";
}

/* NAVBAR */

#grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 30%;
    justify-items: center; }

#Navbar_dan_logo{
    background-color: #F7C93E;
    display: grid;
    grid-template-columns: 20% 60% 20%;}

.inline ul > li{
    display: inline;
    align-items: center;}

.inline ul > li > a{color: #484848; margin: 10px;}

ul > li > a,
.contact-color {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.nav{
    text-align: center;
    font-weight: bolder;
    font-size: larger;}

/* UMUM? GABUNGIN AJA AH */
p{
    font-size: 20px;
    text-align: center;
}

#hr{
    margin-top: -30px;
}

h2,
.doa-title,
.doa-judul {
    text-align: center;
}

/* INI BUAT JUDUL */
.smw-judul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -20px;
}

.smw-judul img{
    width: 140vh;    
    max-width: 100%; 
    height: auto;
    display: block;
}

/* TAMBAHAN INFO */

.tambahan-info{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
    flex-wrap: wrap;
}
.tambahan-info img{
    width: 60vh;      
    max-width: 100%;  
    height: auto;
    display: block;
}

/* BATAS */
.batas {
    height: 2vh;
}

/* FORM */

label{
display:block;
margin-top:15px;
}

input,select{
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:6px;
}

button{
margin-top:20px;
width:100%;
padding:12px;
border:none;
background:#2e8b57;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#256f47;
}

.result-box{
background:white;
padding:20px;
border-radius:10px;
}

.form-dynamic{
display:none;
}

/* ZAKAT */
.zakat-box {
    background: #fff8ea;
    border: 3px solid #f4b400;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    height: fit-content;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

section{
max-width:600px;
margin:auto;
}

/* FOOTER */

footer {
    text-align: center;
    justify-content: center;
    margin: 10vh;
}

/* RESPONSIVE */

@media (max-width: 1024px){
    p{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 900px) {

    .main {
        margin: 0;
    }

}

@media (max-width: 600px) {

    p {
        margin-left: 15px;
        margin-right: 15px;
    }

    header h1{
font-size:22px;
}

main{
padding:15px;
}

}